.main{
	display: flex;
	justify-content: space-between;
	width: 400px;
	margin:0 auto;
	margin-top: 50px;
}

.main div{
	width: 100px;
	height: 100px;
	background-color: green;
	border-radius: 20px;
	border: 2px solid black;
}

.main div h1{
	color: white;
	font-size: 40px;
	margin: 0;
	text-align: center;
	
}

.main div > h1:first-child{
	font-size: 32px;
	color: black;
}

p{
	text-align: center;
	font-size: 32px;
}